nav{
    background-color: antiquewhite;
    color: black;
    padding: 34px;
    text-align: center;
    height: auto;
    margin: 34px;

}

nav a{
    gap: 23px;
    margin: 23px;
    font-size: large;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 34px;
    padding: 12px;
    margin-top: 12px;
    justify-content: center;
}

.func{
    background-color: black;
    color: white;
}
.class{
    margin-top:300px;
    margin-left: 750px;
}

#banned span{
    margin-left: 15px;
}

#clock{
    margin: 19px;
    border: 2px solid white;
    width: 80px;
    height: 23px;
    padding: 6px;
    /* margin-right: 303px; */
    background-color: orange;
    border-radius: 12px;
    

}