nav{
    background-color: antiquewhite;
    color: black;
    padding: 34px;
    text-align: center;
    height: auto;
    margin: 34px;

}

nav a{
    gap: 23px;
    margin: 23px;
    font-size: large;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 34px;
    padding: 12px;
    margin-top: 12px;
    justify-content: center;
}
.func{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
}
 .you{
    text-align: center;
    padding: 23px;
 }
 #hey3{
    padding: 5px;
    border-radius: 12px;
 }
 #hey2{
    padding: 5px;
    border-radius: 12px;
 }
 .no{
    text-align: center;
    border: 1px solid white;
    padding: 12px;
    justify-content: center;
    font-size: large;
    font: bold; 
    margin-left: 800px;
    justify-content: space-around;
 }
 h2{
    text-align: center;
 }
 #that{
    text-align: center;
    padding: 12px;
    font-size: large;
    background-color: aqua;
    color: black;
    margin-top: 12px;
 }